@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap');


.container {
  font-family: "Manrope", sans-serif;
  padding: 0;
  margin: 0;
  background-color: black;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.promptInput {
  width: 30vw;
  height: 200px;
  background-color: rgb(207, 207, 207);
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.promptInput:focus {
  outline: none;
}

.generateBtn {
  cursor: pointer;
  font-family: "Manrope", sans-serif;
  padding: 8px 16px;
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 50px;
}

.headings h1 {
  text-align: center;
  color: white;
}

.outputDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
}

.outputDiv h2 {
  font-size: 28px;
}

.outputDiv p {
margin-top: -10px;
  transition: all 1s;
  text-align: center;
  max-width: 60ch;
  font-size: 16px;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .promptInput {
    width: 80vw;
  }
  .outputDiv p {
      font-size: 14px;
    }
}