@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap');


.container {
  font-family: "Manrope", sans-serif;
  padding: 0;
  margin: 0;
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.promptInput {
  width: 500px;
  height: 200px;
  background-color: rgb(207, 207, 207);
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.promptInput:focus {
  outline: none;
}

.generateBtn {
  font-family: "Manrope", sans-serif;
  padding: 8px 16px;
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 50px;
}

.headings h1 {
  color: white;
}

.outputDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.outputDiv h2 {
  font-size: 28px;
}

.outputDiv p {
  transition: all 1s;
  text-align: center;
  max-width: 60ch;
  font-size: 18px;
}
